
<div *ngIf="apiary">
    <p>Name: {{apiary.name}}</p>
    <p>Location: {{apiary.location}}</p>
    <p>Created On: {{apiary.date | date:'dd/MM/yyyy'}}</p>
    <p>Hives: {{hives.length}}</p>
    <div class="hives">
        <a cla *ngFor="let hive of hives; let i = index" [routerLink]="['/hive-details', hive.id]" placement="bottom" ngbTooltip="{{hive.name}}">
            <img src="http://res.cloudinary.com/wenger88/image/upload/v1484436567/Asset_1_y5poy1.png" class="img-fluid" alt="">
            <div [ngStyle]="{'backgroundColor': hive.queenColor, 'height': '10px', 'margin-top': '5px'}"></div>
        </a>
    </div>


    <div style="margin-top: 20px;">
        <button [routerLink]="['/hive-create', apiary.id]" type="button" class="btn btn-secondary">Create new hive</button>
    </div>




</div>

