@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

html, body{
  height: 100%;
  background: #ECF0F1;
  overflow-x: hidden;
  font-family: "Segoe UI", sans-serif;
}

a:focus, a:hover{
  text-decoration: none;
}

h1{
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 1.75rem;
  position: relative;
  top: 5px;
  color: #f39c12;
}