main {
	font-family: Arial, Helvetica, sans-serif;
	display: block;
}

.sidebar{
	position: relative;
	overflow: scroll;
}

.main{
	margin-left: 230px;
	margin-top: 125px;
	/*padding-left: 20px;
	padding-right: 20px;*/
	position: relative;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;

}

.button-container{
	height: 49px;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 94px;
	background: #34495E;
	z-index: 10;
	button{
		margin-left: 215px;
		border-radius: 0;
		font-size: 25px;
		background: #34495E;
		color: #f39c12;
		outline: 0;
		border: 1px solid #34495E;
		/*position: fixed;
		top: 94px;
		z-index: 10;*/
	}
}


