<aside>
    <nav>
        <ul class="list-group">
            <li class="list-group-item">
                <!--<a [routerLink]="['/dashboard']" [routerLinkActive]="['active']">Dashboard <i class="fa fa-dashboard"></i></a>-->
                <a [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="inner-list">
                    <p>Dashboard </p><i class="fa fa-dashboard"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a [routerLink]="['/apiary']" [routerLinkActive]="['active']" class="inner-list" href="">
                    <p>Apiaries</p> <i class="fa fa-list"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a class="inner-list" [routerLink]="['/hives']" [routerLinkActive]="['active']">
                    <p>Hives</p> <i class="fa fa-archive"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a class="inner-list" href="">
                    <p>Harvests </p><i class="fa fa-line-chart"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a class="inner-list" href="">
                    <p>Examinations</p> <i class="fa fa-bar-chart"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a class="inner-list" href="">
                    <p>Tasks</p> <i class="fa fa-calendar"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a class="inner-list" href="">
                    <p>Users</p> <i class="fa fa-users"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a class="inner-list" href="">
                    <p>Costs</p> <i class="fa fa-money"></i>
                </a>
            </li>
            <li class="list-group-item">
                <a class="inner-list" href="">
                    <p>Storage</p> <i class="fa fa-folder"></i>
                </a>
            </li>
        </ul>
    </nav>
</aside>